*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Manjari';
}

body {
    background: #ffd0e3;
}


.top-nav-bar-parent {
    background: #f6b7d1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    z-index: 15;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.top-nav-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.5em; 
    font-size: 125%;
    position: relative;
    right: -15%;
}

.top-nav-bar-left a {
    padding-left: 3%;;
    color: #aa69d6;
}

.top-nav-bar-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    float: right;
    margin-left: 25%;
}

.top-nav-bar-right i {
    padding-right: 1.3em;
    font-size: 2.0em;
}

.main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.intro {
    color: #aa69d6;
    padding-top: 10.5em;
    padding-left: 3.5em;
    display: flex;
    flex-direction: column;
}

.intro-top {
    font-size: 315%;
}

.intro-top p {
    padding-bottom: .45em;
}

.line1 {
    width: 23em;
    height: 0;
    border: 1.29px solid #aa69d6;
    margin: 0 0 1em 0;
    display:inline-block;
}

.line2 {
    width: 27em;
    height: 0;
    border: 1.29px solid #aa69d6;
    margin: 1em 0 1em 0;
    display:inline-block;
}

.intro-bottom {
    font-size: 150%;
}

.intro-bottom button {
    border: 2px solid #aa69d6;
    background: #ffd0e3;
    height: 3em;
    color: #aa69d6;
    font-size: .6em;
    padding: 1em;
}

